/*estilos generales*/
body{
    background-color: rgb(27, 74, 228);

}
.img-resize{
  max-width: 250px;  
  height: 250px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  
}
.contenedor{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  justify-items: center; /* centra cada carta en su celda */
}
.menu{
  list-style: none;  /* quita viñetas */
  margin: 0;
  padding: 0;
  display: flex; /* coloca los <li> en fila */
  background-color: #333;

}
.menu a{
  display: block;
  padding: 12px;
  text-decoration: none; /* quita subrayado */
  color: rgb(221, 23, 23);
  
}

  
