body{
  background-image: url(../fondo_barcelona/FC_Barcelona-HMD_Barca_3210-Background.webp);
}
.carta{
  max-width: 200px;
  height: 200px;
}
.tam-flec{
  max-width: 100px;
  height: 100px;
}
.menu li{
  list-style: none; /*quitar los puntos de los li*/
}
.color{
  color: rgb(12, 215, 230);
}